/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Заголовок */
h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
    color: #3c388d;
}

/* Поля формы */
form p {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
    border-color: #9FC53A;;
    box-shadow: 0 0 5px #628013;
    outline: none;
}

input::placeholder {
    color: #aaa;
    font-size: 14px;
}

/* Кнопка */
button {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    color: #fff;
    background-color: #9FC53A;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #628013;
}

.back-button {
    margin-top: 20px; /* Отступ сверху */
    text-align: center; /* Центрирование кнопки */
}

/* Адаптивность */
@media (max-width: 768px) {
    .container {
        padding: 20px;
        margin: 20px;
    }
}