        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            padding: 10px; /* Отступ для мобильных устройств */
        }
        h1 {
            color: #333;
            text-align: center; /* Центрирование текста */
            margin-bottom: 20px; /* Отступ под заголовком */
        }
        form {
            background: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            width: 90%;
            max-width: 400px; /* Максимальная ширина для больших экранов */
        }
        p {
            color: black;
        }
        stand-block {
            background-color: #f8f9fa; /* Светлый фон для блока стенда */
            border: 1px solid #dee2e6; /* Граница блока */
            border-radius: 0.5rem; /* Скругленные углы */
            padding: 1rem; /* Отступы внутри блока */
        }
        button {
            background-color: #b85c5c;
            color: white;
            border: none;
            padding: 12px; /* Увеличен отступ для кнопок */
            border-radius: 5px;
            cursor: pointer;
            width: 100%;
            margin-top: 10px;
            font-size: 16px; /* Увеличен размер шрифта для кнопок */
            transition: opacity 0.3s; /* Плавный эффект при наведении */
        }
        button#systemLoginButton {
            background-color: #ff0000;
        }
        button:hover {
            opacity: 0.8; /* Изменено значение для лучшего эффекта */
        }