{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>О сайте</title>

    <link type="text/css" href="{% static 'main/css/about_style.css'%}" rel="stylesheet"/>

</head>

<body>
    <div class="container">
    <div class="row">
        <!-- Левая колонка -->

            <div class="col-md-6 d-flex flex-column">
                <main class="form-signin w-100">
                    <button class="btn btn-secondary w-100 py-2 mb-2 btn-lg" type="button" onclick="window.location.href='/list_reg';">
                        Запись
                    </button>
                    <button class="btn btn-secondary w-100 py-2 mb-2 btn-lg" type="button" onclick="window.location.href='/tasks_list';">
                        Расписание
                    </button>
                    <button class="btn btn-secondary w-100 py-2 mb-2 btn-lg" type="button">
                        Данные о экспериментах
                    </button>
                </main>
            </div>

            <!-- Правая колонка -->
            <div class="col-md-6 d-flex flex-column align-items-start">

                <div class="stand-block mb-3">
                    <h5>Стенд 1</h5>
                    <p>Статус: Свободен</p>
                    <button class="btn btn-primary" type="button">Соединение</button>
                </div>

                <div class="stand-block mb-3">
                    <h5>Стенд 2</h5>
                    <p>Статус: Свободен</p>
                    <button class="btn btn-primary" type="button">Соединение</button>
                </div>

                <div class="stand-block mb-3">
                    <h5>Стенд 3</h5>
                    <p>Статус: Свободен</p>
                    <button class="btn btn-primary" type="button">Соединение</button>
                </div>

            </div>
        </div>
    </div>
</body>
</html>