{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>О сайте</title>
    <link rel="stylesheet" href="{% static 'style/ZOV.css' %}" type="text/css">
    <!-- Подключение Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <!-- Левая колонка с кнопками -->
            <div class="col-md-6">
                <main class="form-signin">
                    <button class="btn btn-secondary w-100 py-2 mb-2 btn-lg" type="button">Расписание</button>
                    <button class="btn btn-secondary w-100 py-2 mb-2 btn-lg" type="button">Данные о экспериментах</button>
                </main>
            </div>

            <!-- Правая колонка со стендами -->
            <div class="col-md-6">
                <div class="stand-block mb-3">
                    <h5>Стенд 1</h5>
                    <p>Статус: Свободен</p>
                    <button class="btn btn-primary w-100" type="button">Соединение</button>
                </div>
                <div class="stand-block mb-3">
                    <h5>Стенд 2</h5>
                    <p>Статус: Свободен</p>
                    <button class="btn btn-primary w-100" type="button">Соединение</button>
                </div>
                <div class="stand-block mb-3">
                    <h5>Стенд 3</h5>
                    <p>Статус: Свободен</p>
                    <button class="btn btn-primary w-100" type="button">Соединение</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

