{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <div class="back-button">
        <a href="{% url 'about' %}" class="button">Вернуться на главную</a>
    </div>

    <title>Расписание занятий</title>
    <link type="text/css" href="{% static 'main/css/table_style.css'%}" rel="stylesheet"/>

</head>
<body>
    <h1>Расписание занятий группы "НОМЕР ГРУППЫ</h1>

    <div class="schedule">
        <table>
            <thead>
                <tr>
                    <th>Время</th>
                    <th>Пн</th>
                    <th>Вт</th>
                    <th>Ср</th>
                    <th>Чт</th>
                    <th>Пт</th>
                    <th>Сб</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>08:50 - 10:25</td>
                    <td class=""><br><br></td>
                    <td class=""><br><br></td>
                    <td class=""><br><br></td>
                    <td class=""><br><br></td>
                    <td class=""><br><br></td>
                    <td class=""><br><br></td>
                </tr>
                 <tr>
                    <td>10:40 - 12:15</td>
                    <td class=""><br><br></td>
                    <td class=""><br><br></td>
                    <td class=""><br><br></td>
                    <td class=""><br><br></td>
                    <td class=""><br><br></td>
                    <td class=""><br><br></td>
                </tr>
                <tr>
                    <td>13:15 - 14:50</td>
                    <td class=""><br><br></td>
                    <td class=""><br><br></td>
                    <td class=""><br><br></td>
                    <td class=""><br><br></td>
                    <td class=""><br><br></td>
                    <td class=""><br><br></td>
                </tr>
                <tr>
                    <td>15:00 - 16:35</td>
                    <td class=""><br><br></td>
                    <td class=""><br><br></td>
                    <td class=""><br><br></td>
                    <td class=""><br><br></td>
                    <td class=""><br><br></td>
                    <td class=""><br><br></td>
                </tr>
                <tr>
                    <td>16:45 - 18:20</td>
                    <td class=""><br><br></td>
                    <td class=""><br><br></td>
                    <td class=""><br><br></td>
                    <td class=""><br><br></td>
                    <td class=""><br><br></td>
                    <td class=""><br><br></td>
                </tr>
                <tr>
                    <td>18:30 - 20:05</td>
                    <td class=""><br><br></td>
                    <td class=""><br><br></td>
                    <td class=""><br><br></td>
                    <td class=""><br><br></td>
                    <td class=""><br><br></td>
                    <td class=""><br><br></td>
                </tr>
                <tr>
                    <td>20:15 - 21:50</td>
                    <td class=""><br><br></td>
                    <td class=""><br><br></td>
                    <td class=""><br><br></td>
                    <td class=""><br><br></td>
                    <td class=""><br><br></td>
                    <td class=""><br><br></td>
                </tr>
            </tbody>
        </table>
        <div class="legend">
            <span class="legend-item practice">Практическое занятие</span>
            <span class="legend-item teh_work">Техническая работа</span>
        </div>
    </div>
</body>
</html>



 <! -- td class="lecture" br br br /td -->